.category {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 100px;
  border: 1px solid #f7a76c;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #f7a76c;
  padding: 10px;
  margin: 2px;
}

.item.active {
  color: black;
  background-color: #f7a76c;
}
