.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}

.mybooks {
  background-color: #f7a76c;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.books {
  width: 300px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
