.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.books_button {
  position: relative;
  width: 300px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.books_button span {
  position: absolute;
  right: 16px;
  font-size: 20px;
  font-weight: 600;
  color: darkgreen;
  background-color: #dff5ce;
  width: 30px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  padding: 2px;
}
