.nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7a76c;
  justify-content: space-around;
  padding: 20px 0px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.menu img {
  width: 25px;
}

.menu .book {
  width: 22px;
}

.menu .cat {
  width: 28px;
}
