.nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3d8361;
}

.menu {
  color: black;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 14px 16px;
}

.menu a.active {
  color: aliceblue;
  text-decoration: none;
}
