.nav {
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--orange);
  justify-content: space-around;
  padding: 20px 0px;
  z-index: 1;
}

.navbar_placeholder {
  height: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.menu img {
  width: 30px;
}

.menu .book {
  width: 25px;
}

.menu .search {
  width: 25px;
}
