.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.max_lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.8em;
  margin: 10px;
}

/* .icons {
  display: flex;
  justify-content: space-between;
} */

.like {
  width: 20px;
  height: 20px;
}

.wanttoread {
  background-color: aqua;
}

.reading {
  background-color: aqua;
}

.completed {
  background-color: aqua;
}
