.book {
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.description {
  margin-left: 10px;
  line-height: 1.8em;
  padding-top: 10px;
}

.description h4 {
  margin: 0;
}

.max_lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.icons {
  margin: 10px;
}

.cover {
  width: 128px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.button {
  width: 30%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: blanchedalmond;
  border: none;
  border-radius: 10px;
}

.button img {
  width: 16px;
  margin-right: 6px;
  vertical-align: middle;
}

.button.active {
  background-color: #f7a76c;
}

.top {
  display: flex;
  align-items: center;
}
