.book {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h3 {
  margin: 0;
  padding-left: 10px;
  line-height: 40px;
}

.max_lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  word-break: break-word;
  -webkit-box-orient: vertical;
  line-height: 1.8em;
  margin: 10px;
}

.icons {
  margin: 10px;
}

.cover {
  width: 128px;
}

.icons2 {
  display: flex;
  justify-content: space-evenly;
}

.icons2 img {
  width: 30px;
  background-color: transparent;
}

.like {
  width: 20px;
  height: 20px;
}
