.profile_info .background {
  background-color: antiquewhite;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.avatar {
  width: 200px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.avatar img {
  width: 100%;
}

.avatar h2 {
  text-align: center;
  margin: 0;
}

.info h3 {
  font-weight: normal;
}

.progress {
  margin-left: 10px;
}

.circle_chart {
  position: relative;
  width: 200px;
  margin: 0 auto;
  border-radius: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
}

h3 img {
  width: 30px;
}
