:root {
  --beige: #faebd7;
  --green: green;
  --orange: #f7a76c;
  --pink: #ff8fb1;
}

.welcome_page {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 90px;
  z-index: -1;
  background-color: var(--beige);
}

.moto {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.image {
  padding: 0 10px;
}

.image img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.greeting h2 {
  color: var(--green);
}

#green_color {
  color: var(--green);
}

#orange_color {
  color: var(--orange);
}

.pink_color {
  color: var(--pink);
}
